@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

:root{
	/*Can manipulate it in js by:
	document.documentElement.style.setProperty('--main-color',"#6c0")*/
    --main-color:#73caff;
    --text-color:#ffffff;
    --background:#3b4951;
    --disable-color:#727272;
}
svg {
		text-align: center;
        display: block;
        margin: auto auto;  
        stroke: var(--text-color);
        /*stroke-width:1px;*/
        /*border: 1px solid red;*/
}

text { fill: var(--text-color);; }


body{
	font-family:'Titillium Web', sans-serif;
	background: var(--background);
	padding-bottom: 20px;
}

h1{
	color: var(--text-color);
	font-size:3em;
	text-align:center;
	margin-top:0;
	margin-bottom:0;
	padding-bottom: 0;
	padding-top:0;
	/*border: 1px solid blue;*/
	
}

button{
	background-color: var(--main-color);
	font-size: 14px;
	color: var(--text-color);
	display: inline-block;
  	margin: 0 15px 0 0;
  	padding-left: 15px;
  	padding-right: 15px;
  	line-height: 1.8;
  	appearance: none;
  	box-shadow: none;
  	border-radius: 15px;
  	border: none;
  	margin-bottom:5px; /*spacing when you shrink window size*/
}

/*No ugly blue outline when clicked*/
button:focus {
  outline: none; 
}
select:focus {
  outline: none; 
}

select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   /*appearance: none; */
   background-color: var(--background);
	font-size: 14px;
	color: var(--text-color);
	margin: 0 15px 0 0;
	padding-left: 15px;
  	padding-right: 15px;
  	line-height: 1.8;
  	text-align:center;
  	margin:auto auto;
  	border-radius: 15px;
  	border-color:var(--text-color);
  	border-width: 3px;
  	display: inline-block;
  	margin-bottom:5px;
}

.bodytext {
	/*color:var(--text-color);*/
	color:red;
	background-color:rgba(0,0,0,0.8);
	padding-left:15px;
	padding-right:15px;
}

.emph{
	color: var(--main-color)
}

.graph-axis path,line{
	stroke:var(--text-color);
}


#buttons{
	text-align:center;
	margin-left: auto;
	margin-right:auto;
}

#selects{
	text-align:center;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	/*padding-bottom:50px;*/
	
}

